@{
    WebSecurity.RequireAuthenticatedUser();
    Page.Title="Tasks";
    Layout = "~/_SiteLayout.cshtml";    
    var db = Database.Open("ispring");
    var sql = "SELECT TaskId FROM Tasks WHERE UserId="+WebSecurity.CurrentUserId;
    if (Roles.IsUserInRole("Administrators"))
    {
        sql = "SELECT TaskId, UserId FROM Tasks";
    }    
    var tasks = db.Query(sql);
    var grid = new WebGrid(tasks);
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Quiz Analytics</h1>
                <h2>@WebSecurity.CurrentUserName &nbsp; WebSecurity.CurrentUserId </h2>
            </hgroup>
            <p>
            List of tasks.
            </p>
        </div>
    </section>
}

@if (Roles.IsUserInRole("Administrators"))
{
    @grid.GetHtml(
    columns: 
    grid.Columns(
        grid.Column("TaskId", format: @<a href="Task?id&#61;@item.TaskId">@item.TaskId</a>),
        grid.Column("UserId", format: @<a href="User?id&#61;@item.UserId">@item.UserId</a>)
        )
    )
 }
 else
{
    @grid.GetHtml(
    columns: 
    grid.Columns( grid.Column("TaskId", format: @<a href="Task?id&#61;@item.TaskId">@item.TaskId</a>))    
    )
}